---
- name: Configure Postfix main.cf
  ansible.builtin.template:
    src: postfix/main.cf.j2
    dest: /etc/postfix/main.cf
    owner: root
    group: root
    mode: '0644'
  notify: Restart postfix

- name: Configure Postfix master.cf
  ansible.builtin.template:
    src: postfix/master.cf.j2
    dest: /etc/postfix/master.cf
    owner: root
    group: root
    mode: '0644'
  notify: Restart postfix

# Add more Postfix configuration tasks here as needed
